# Build folders
x64/
Debug/
Release/
ipch/

# Visual Studio cache/settings
.vs/
*.VC.db
*.VC.VC.opendb

# Compiled binaries
*.exe
*.pdb
*.dll
*.obj
*.idb
*.ilk
*.lib
*.sbr

# Logs and temp
*.log
*.tlog
*.user
*.suo
*.cache
*.pch

# Backup files
*.tmp
*.bak
*.ncb

# Ignore gitignore file itself (only if you accidentally named it wrong earlier)
.gitignore.txt
