# Build folders
x64/
Debug/
Release/

# Visual Studio cache/settings
.vs/
*.VC.db
*.VC.VC.opendb
*.user
*.suo

# Compiled binaries
*.exe
*.dll
*.obj
*.pdb
*.lib
*.idb
*.ilk

# Other IDE files
CopilotIndices/
FileContentIndex/
copilot-chat/
.vs/
x64/Debug/
.gitignore.txt